In [3]:
num = [4,10.9,-5,5,1,8,2,-2]
total = 0
for n in num:
    if n%2 == 0:
        total += n
print('total :', total)

total : 12

In [4]:
for a in range(5):
    print(a)

0
1
2
3
4

In [5]:
for a in range(5) :
    print(a, end=" ")

0 1 2 3 4

In [6]:
for n in (1,2,3):
    print(n)

1
2
3

In [7]:
for s in "Korea" : 
    print(s, end = ' ! ')

K ! o ! r ! e ! a !

In [8]:
a = range(5)
a

range(0, 5)

In [9]:
type(a)

range

In [10]:
a[2]

2

In [11]:
lst = list(range(5))
lst

[0, 1, 2, 3, 4]

In [12]:
tpl = tuple(range(5))
tpl

(0, 1, 2, 3, 4)

In [13]:
import itertools
for i in itertools.repeat(5,3):
    print(i, end = ' ')

5 5 5

In [14]:
for i in itertools.repeat(3,5) :
    print(i, end = ' ')

3 3 3 3 3

In [15]:
x = [1,2,3,4,5]
for i in x:
    print(i, end = ' ')

1 2 3 4 5

In [16]:
fruit = ['apple', 'cherry', 'banana']
for item in fruit:
    print(item, end = ' ')

apple cherry banana

In [17]:
L = range(1,16,2)
for n in L:
    print(n, end = ' ')

1 3 5 7 9 11 13 15

In [18]:
for n in range(3) :
    print(n)
    for k in range(10) :
        print('*',end='')

0
**********1
**********2
**********

In [19]:
stars = ' '
counter = 0
for counter in range(10) : 
    stars += "*"
print(stars)

 **********

In [20]:
count = 0
while count <= 5:
    print("hello")
    count += 1

hello
hello
hello
hello
hello
hello

In [21]:
n = int(input('Enter :'))
a = 2
even_sum = 1
while a <= n:
    even_sum *= a
    a += 2
print('1부터 {}까지의 짝수의 합:{}'.format(n,even_sum))

Enter :10
1부터 10까지의 짝수의 합:3840

In [22]:
str = "Korea"
i = 0
while(i<len(str)):
    print(str[i])
    i += 1

K
o
r
e
a

In [23]:
i = 2
while i < 9 :
    print(i, end = ' ')
    i += 2

2 4 6 8

In [24]:
fruit = ['apple','cherry','banana']
i = 0
while(i<len(fruit)):
    print(fruit[i])
    i += 1

apple
cherry
banana

In [25]:
i = 0
while i < 3 :
    j = 0
    while j < 10 :
        print('*', end = ' ')
        j += 1
    i += 1
    print()

* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *

In [26]:
count = int(0)
stars = " "
while count < 7:
    stars += "*"
    count += 1
print(stars)

 *******

In [27]:
num = int(0)
while num < 6:
    print(num)
    num += 1

0
1
2
3
4
5

In [28]:
num = int(0)
for num in range(0,6):
    print(num)
    num += 1

0
1
2
3
4
5

In [29]:
for i in range(10):
    if i % 2 == 0:
        continue
    print(i,end = ' ')

1 3 5 7 9

In [30]:
for i in range(1,20):
    if i % 5 == 0:
        break
    print(i,end = ' ')

1 2 3 4

In [45]:
i = 0
sum = 0
while(i < 101):
    sum = sum + i
    i += 1
print(sum)

5050

In [38]:
for dan in range(2,10):
    for i in range(1,10):
        print(dan, "*",i,'=',dan*i)
    print('ㅡㅡㅡㅡㅡㅡ')

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
ㅡㅡㅡㅡㅡㅡ
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
ㅡㅡㅡㅡㅡㅡ
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
ㅡㅡㅡㅡㅡㅡ
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
ㅡㅡㅡㅡㅡㅡ
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
ㅡㅡㅡㅡㅡㅡ
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
ㅡㅡㅡㅡㅡㅡ
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
ㅡㅡㅡㅡㅡㅡ
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
ㅡㅡㅡㅡㅡㅡ